---
import '@/styles/global.css'
import { Font } from 'astro:assets'
import SpeedInsights from '@vercel/speed-insights/astro'
import Footer from '@/components/layout/Footer.astro'
import Header from '@/components/layout/Header.astro'
import PostHog from '@/components/PostHog.astro'

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

// `Astro.site` could be undefined if `site` option is not set in `astro.config.ts`
const siteURL = Astro.site ?? Astro.url.origin

// Remove trailing slash from pathname
// prettier-ignore
const pathname = Astro.url.pathname !== '/'
  ? Astro.url.pathname.replace(/\/$/, '')
  : '/'

// prettier-ignore
const canonicalURL = pathname === '/'
  ? new URL(siteURL).origin
  : new URL(pathname, siteURL)

const openGraphImageURL = new URL('/opengraph-image.png', siteURL)
const openGraphImageWidth = '1200'
const openGraphImageHeight = '630'
const openGraphImageType = 'image/png'
---

<html lang="en">
  <head>
    <!-- Best practices -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Favicons -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Fonts -->
    <Font cssVariable="--font-geist" preload />
    <Font cssVariable="--font-geist-mono" preload />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={openGraphImageURL} />
    <meta property="og:image:width" content={openGraphImageWidth} />
    <meta property="og:image:height" content={openGraphImageHeight} />
    <meta property="og:image:type" content={openGraphImageType} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={openGraphImageURL} />
    <meta name="twitter:image:width" content={openGraphImageWidth} />
    <meta name="twitter:image:height" content={openGraphImageHeight} />
    <meta name="twitter:image:type" content={openGraphImageType} />

    <!-- Additional head content -->
    <slot name="head" />

    <!-- Analytics -->
    <PostHog />
  </head>

  <body class="h-dvh px-4 font-mono text-md text-primary antialiased sm:px-8">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

    <!-- Vercel Speed Insights -->
    <SpeedInsights />
  </body>
</html>
